
a {
	cursor: pointer;
}

.jumbotron {
	background-color: #9ed580;
}

	p {
		color: #000000;
	}

.adjust-top {
	margin-top: 40px;
}
	.adjust-top-slight {
		margin-top: 10px;
	}

	.anchor {
		display: block;
		position: relative;
		top: -40px;
		visibility: hidden;
	}

.right-float {
	float: right;
}
	
	.right {
			text-align: right;
		}


.shifted {
	margin-left: 50px;
	margin-right: 50px;
}


.inline {
	display: inline-block;
}

.front-image {
	cursor: pointer;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

button {
	margin-top: 3px;
}

.spaced {
	padding-left: 10px;
	padding-right: 10px;
}