{% extends "base.html" %}

{% block moreScript %}
<script type="text/javascript">
	$(document).ready(function() {

		$("#add_cardset_btn").click(function() {
			if($("#add_cardset_row").css("display") === "none")
			{
				$("#add_cardset_row").slideDown();
				return false;
			}else
			{
				$("#add_cardset_row").slideUp();
				return false;
			}
		});

	});

	function confirmDelete(name)
	{
		return confirm("Are you sure you want to delete cardset: " + name + "?");
	}

	function deleteSubmit(name, id)
	{
		if(confirmDelete(name))
		{
			$("#delete_cardset_" + id).submit();
		}

		return false;
	}

</script>
{% endblock %}

{% block content %}

<div class="container adjust-top">
</div>

<div class="container adjust-top">

	<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
						<li><a href="/home/">Home</a></li>
						<li><a href="/home/{{ collection.id }}/">{{ collection.name }}</a></li>
				</ul>
			</div>
	</div>

	<div class="jumbotron">
		<h2>{{ collection.name }}</h2>
		<button id="add_cardset_btn" class="btn btn-primary"><i class="fa fa-plus"></i> add cardset</button>
		<div class="row adjust-top-slight" id="add_cardset_row" style={% if messages %}""{% else %}"display: none;"{% endif %}>
			<div class="col-lg-6">
					<div class="well bs-component">
						<form method="post" role="form" action ="/home/add-cardset/" class="form-horizontal" id="add_cardset_form">
						{% csrf_token %}

						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-danger">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}

							<fieldset>
								<legend class="form-text">Add Cardset</legend>
								<input type="hidden" name="collection_name" value="{{ collection.name }}" />
								<div class="form-group">
										<label for="name" class="col-lg-3 control-label">Name</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" id="name" name="name" placeholder="name" autocomplete="off" />
										</div>
								</div>
								<div class="form-group">
										<label for="description" class="col-lg-3 control-label">Description</label>
										<div class="col-lg-9">
											<textarea class="form-control" id="description" name="description" placeholder="desription" autocomplete="off"></textarea>
										</div>
								</div>
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-8">
										<button type="submit" id="add_collection_submit" class="btn btn-default"><i class="fa fa-cloud-upload"></i> create</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	{% for cardset in cardsets %}
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="/home/{{ collection.id }}/{{ cardset.id }}/">{{ cardset.name }}</a>
					<a href="#" onclick="return deleteSubmit('{{ cardset.name }}', {{ cardset.id }});" class="right-float"><i class="fa fa-minus-circle"></i></a>
					<form action="/home/delete-cardset/" method="post" role="form" id="delete_cardset_{{ cardset.id }}">
					{% csrf_token %}
						<input type="hidden" name="collection_name" value="{{ collection.name }}" />
						<input type="hidden" name="name" value="{{ cardset.name }}" />
					</form>
				</div>
				<div class="panel-body">
					{{ cardset.description }}
				</div>
			</div>
		</div>
	{% empty %}
		<div class="alert alert-info">
			You don't currently have any cardsets.<br />
			A cardset is a set of cards within one of your collections.
		</div>
	{% endfor %}
</div>


{% endblock %}